doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="icon" type="image/x-icon" href="/favicon/favicon.ico")
  body
    a(href= "/catalog")
      img.mainLogo(src="/images/amasonLogo.png" draggable="false")
    block content
