:root {
  --lightOrange: #FFF7E9;
  --orange: #ff9900;
  --lightBlue: #5F9DF7;
  --blue: #1746A2;
  --darkerOrange: #e89b00;
  --red: #FF0032;
  --darkerRed: #CD0404;
  --buttonWidth: 100px;
  --buttonHeight: 40px;
  --inputWidth: 300px;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: var(--lightOrange);
}

a {
  color: var(--lightBlue);
  font-weight: bold;
  text-decoration: none;
}

li>a,
a>li {
  font-size: 15px;
}

.mainLogo {
  width: max(300px, 30vw);
  margin-bottom: 20px;
}

.orangeButton {
  background-color: var(--orange);
  color: white;
  border: none;
  border-radius: 5px;
  width: var(--buttonWidth);
  height: var(--buttonHeight);
}

.orangeButton:hover {
  background-color: #e89b00;
}

li {
  margin-top: 5px;
}

.bookDetailPage {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 30px;
}

.bookDetailPage .buyBook {
  border: 3px solid var(--blue);
  border-radius: 5px;
  padding: 10px;
}

.bookDetailPage .bookInfoRow {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  grid-template-rows: repeat(auto-fill, min-content);
}

.infoBlock {
  display: grid;
  text-align: center
}

.infoBlock>p {
  font-size: 12px;
}

.bookDetailPage .bookInfoRow .infoBlock>p+p {
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

span.price {
  color: #ff9900;
  font-size: 15px;
  justify-self: end;
}

.redButton {
  background-color: var(--red);
  color: white;
  border: none;
  border-radius: 5px;
  width: var(--buttonWidth);
  height: var(--buttonHeight);
}

.redButton:hover {
  background-color: var(--darkerRed);
}

.buyBook .buttonContainer {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  column-gap: 10px;
}

.sidebar-nav {
  padding-left: 0;
}

ul {
  padding-left: 10px;
}

.noItem {
  font-size: 15px;
}

::selection {
  color: white;
  background: var(--lightBlue);
}

.formGroup {
  margin-bottom: 10px;
  display: grid;
  grid-template-rows: repeat(auto-fill, min-content);
  grid-template-columns: repeat(2, min-content);
  row-gap: 10px;
}

.formGroup>label {
  font-size: 20px;
  margin-right: 10px;
  white-space: nowrap;
  padding-top: 5px;
}

.formGroup>input {
  width: var(--inputWidth);
  height: 30px;
  font-size: 15px;
  padding-left: 5px;
  border-radius: 5px;
}

.formGroup>textarea {
  width: var(--inputWidth);
  height: 200px;
  font-size: 15px;
  resize: none;
  vertical-align: top;
}

.formGroup>select {
  width: var(--inputWidth);
  font-size: 15px;
}