:root {
  --orange: #ff9900;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.mainLogo {
  width: max(300px, 30vw);
}

.orangeButton {
  background-color: var(--orange);
  color: white;
  border: none;
  width: 70px;
  height: 30px;
}

.orangeButton:hover {
  opacity: 0.5;
}